.archives {
  margin-top: 35px;

  .highlight-archives {
    padding: 35px 0 6px;
    background: $hitam;
  }

  .tag-cloud {
    #txtCloud {
      width: 100%;
      height: 250px;
      margin-bottom: 20px;
      @include breakpoint(mobile) {
        height: 580px;
      }
    }
  }

  .article-index {
    .filter-archive {
      margin-bottom: 50px;

      .custom-form {
        input,
        select {
          margin-right: 7px;
          margin-bottom: 15px;
          color: #aaaaaa;
        }

        input {
          box-shadow: none;
        }

        select {
          width: 170px;
          @include breakpoint(mobile) {
            width: 100%;
          }
        }

        button.btn {
          margin-bottom: 15px;
          padding: 5px 35px;
          @include breakpoint(mobile) {
            float: none;
            width: 100%;
          }
        }
      }
    }
  }

  .highlight-archives {
    .custom-form {
      input {
        background: transparent;
        border: 1px solid #aaaaaa;
        color: #aaaaaa;
      }
    }

    article {
      h4 {
        margin-bottom: 14px;

        a {
          font-family: "adelle_sanssemibold";
          font-size: 24px;
          color: white;
        }
      }
    }
  }
}
