.box-subscribe {
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid #b7b7b7;

  p {
    margin-bottom: 26px;
    font-family: "adelle_sanssemibold";
    font-size: 24px;
    line-height: 1.3em;
  }

  a.btn {
    width: 100%;
    padding: 14px 0;
  }
}
