.author,
.footer-article {
    margin-bottom: 36px;
    h5 {
        display: inline-block;
        margin-right: 18px;
        @include breakpoint(mobile) {
            font-size: 18px;
            margin-bottom: 5px;
        }
    }
    ul {
        margin: 0;
        display: inline-block;
        li {
            padding-right: 18px;
            margin-right: 18px;
            display: inline-block;
            font-size: 12px;
            text-transform: uppercase;
            border-right: 1px solid $abu;
            color: $abu;
            @include breakpoint(mobile) {
                font-size: 10px;
            }
            a {
                color: $abu;
            }
            &:last-child {
                border-right: 0;
                margin-right: 0;
            }
        }
    }
}
.author {
    position: relative;
    top: 60px;
    @include breakpoint(mobile) {
        top: 30px;
    }
}
.sub-head-right {
    position: relative;
    top: 52px;
}

.custom-form {
    input,select {
        border-radius: 0;
        font-size: 16px;
    }
    input {
        box-shadow: inset 0 0 10px rgba(0,0,0,.13);
    }
    button {
        margin-bottom: 10px;
        @include breakpoint(mobile) {
            width: 100%;
        }
    }
}

.check_terms {
    padding: 15px 0;
    display: block;
    input[type="checkbox"] {
        display: inline-block;
        vertical-align: bottom;
    }
}

.form-payment {
    .box-center {
        .box-header {
            text-align: center;
            h3 {
                margin-bottom: 10px;
                display: inline-block;
                font-family: "adelle_sansregular";
                font-size: 24px;
                @include breakpoint(mobile) {
                    font-size: 22px;
                    margin-bottom: 6px;
                    line-height: 1.2em;
                }
            }
            p {
                font-family: "adelle_sansregular";
                font-size: 18px;
                margin-bottom: 25px;
                @include breakpoint(mobile) {
                    font-family: "adelle_sansregular";
                    font-size: 16px;
                    line-height: 1.3em;
                }
            }
        }
    }
}

.toc {
    article {
        p {
            font-size: 18px;
            margin-bottom: 25px;
            line-height: 1.4em;
            strong {
                font-family: "adelle_sansbold";
            }
        }
    }
}