.head-grid-category {
    padding-top: 30px;
    border-bottom: 1px solid #ddd;
    .grid-item {
        article {
            figure {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            h3 {
                margin: 25px 0 20px;
                font-family: "adelle_sansbold";
                font-size: 30px;
                a {
                    color: $hitam;
                }
            }
            h4 {
                margin: 25px 0 24px;
                font-family: "adelle_sansbold";
                font-size: 22px;
                a {
                    color: $hitam;
                }
            }
            p {
                font-size: 18px;
                line-height: 1.5em;
                margin-bottom: 25px;
            }
        }
        &:not(:first-child) {
            article {
                figure {
                    width: 100%;
                    @include breakpoint(mobile) {
                        float: left;
                        display: inline-block;
                        margin-right: 15px;
                        width: 150px;
                    }
                    img {
                        width: 100%;
                    }
                }
                h4 {
                    font-size: 20px;
                    line-height: 1.3em; 
                }
                p {
                    margin-bottom: 18px;
                }
                .footer-article {
                    ul {
                        li {
                            padding-right: 10px;
                            margin-right: 10px;
                            font-size: 10px;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}