.hightlights {
  margin-bottom: 32px;
  padding: 48px 0 6px;
  background: $hitam;
  p {
    font-size: 16px;
    line-height: 1.4em;
    margin-bottom: 28px;
    color: white;
  }
  a {
    font-family: "adelle_sansregular";
    font-size: 18px;
    color: $orange;
  }
  article {
    div {
      margin-bottom: 20px;
      @include clearit;
      span {
        font-family: "adelle_sansextrabold";
        font-size: 22.49px;
        line-height: 58px;
        margin-right: 30px;
        margin-bottom: 30px;
        display: block;
        float: left;
        width: 60px;
        height: 60px;
        text-align: center;
        background: $choco;
        border-radius: 50%;
        color: white;
      }
      h4 {
        font-family: "adelle_sanssemibold";
        a {
          position: relative;
          top: -2px;
          font-size: 22px;
          @include breakpoint(mobile) {
            position: static;
            font-family: "adelle_sanssemibold";
            font-size: 18px;
            line-height: 1.5em;
          }
          line-height: 1.4em;
          color: white;
          &:hover {
            text-decoration: none;
            color: darken(white, 35%);
          }
        }
      }
    }
  }
}