.popular-tags {
    margin-bottom: 30px;
    ul {
        li {
            position: relative;
            display: inline-block;
            margin-right: 12px;
            margin-bottom: 12px;
            a {
                position: relative;
                display: block;
                padding: 12px 15px;
                border: 1px solid #b7b7b7;
                color: $hitam;
                transition: all .2s ease-in;
                z-index: 2;
                &:hover {
                    text-decoration: none;
                    border: 1px solid $orange;
                    color: white;
                }                
            }
            &:before {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                // transform-origin: left;
                // transform: scaleX(0);
                transition: background .5s ease-in-out;
                z-index: 1;
            }
            &:hover {
                &:before {
                    background: $orange;
                    // transform: scaleX(1);
                }
            }
        }
    }
}