@@include('../Shared/header.html')

<div class="sub-head-child-pages">
    <div class="container">
        <h2>About Us</h2>
    </div>
</div>

    <div class="aboutUs">
        <section class="aboutHeroImages">
            <div class="container">
                <article>
                    <p>
                        Get exclusive economic and business insights at your fingertips
                    </p>
                </article>
            </div>
        </section>

        <section class="about-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <article>
                            <p>
                                D-Inside is a premium, bilingual service which is the result of a collaboration between Katadata.co.id and Hukumonline.com. D-inside offers comprehensive, in-depth information on business and the economy, all of which is exclusively developed from direct primary sources and which can be used as a useful reference by top-level management during the making of strategic company decisions.
                            </p>
                            <div class="boxImgQuote">
                                <div class="left-image">
                                    <figure>
                                        <img src="assets/images/figure-contact.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="quoteRight">
                                    <p>
                                        We offer primary
                                        research business and
                                        economy information,
                                        from primary sources.
                                    </p>
                                </div>
                            </div>
                            <h4>Why subscribe to D-Inside?</h4>
                            <p>
                                <strong>Comprehensive and in-depth information</strong>
                                D-inside covers all of the latest business and economic information
                                delivered in a comprehensive and in-depth format.                               
                            </p>
                            <p>
                                <strong>Save time and keep updated</strong>
                                We also cover important information relating to business and economic news in a concise format. 
                            </p>
                            <p>
                                <strong>Inside information from primary sources</strong>
                                D-Inside offers primary research business and economy information, as well as direct interviews with primary sources, all of which are written and analyzed by our experienced and dedicated team of senior journalists who are all skilled in economics and business.
                            </p>
                            <p>
                                <strong>Available in bilingual versions</strong>
                                D-Inside is available in bilingual versions (English and Bahasa Indonesia).
                            </p>
                            <p>
                                <strong>Valuable insights at your fingertips</strong>
                                Delivered in the form daily e-mail alerts, each of which links to our premium web-access service, which comes packed with valuable insights.
                            </p>
                            <p>
                                <strong>Stay on top of all of the latest business trends</strong>
                                Stay on top of what’s going on in the world of business trends. D-Inside covers several topics of interest, including: Industry, National, Corporations, Politics, Markets and Finance. 
                            </p>
                        </article>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="quoteBottom">
                            <p>
                                Make better-informed decisions. D-Inside covers
                                several topics of interest, including: National,
                                Corporations, Politics, Markets and Finance. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <article>
                            <h4>Tailored for C-Levels</h4>
                            <p>
                                <strong>Stay on top of all of the latest business trends</strong>
                                Stay on top of what’s going on in the world of business trends. D-Inside covers several topics of interest, including: Industry, National, Corporations, Politics, Markets and Finance. 
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <section class="testimon margin-bottom-50">
            <div class="container">
                <h3>Testimonial</h3>
                <p>Hear what our subscribers have to say about D-Inside</p>
                <div id="testiSlides">
                    <div class="testiSlider">
                        <article>
                            <figure>
                                <img src="assets/images/steve-job.jpg" alt="">
                            </figure>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut velit dolor, imperdiet quis risus nec, interdum bibendum libero. Morbi venenatis euismod massa, sed luctus nisl sodales at. Nunc varius erat sit amet porta elementum. Vivamus varius turpis eget felis auctor, sed gravida tellus commodo.
                            </p>
                            <span>Steve Job</span>
                        </article>
                    </div>
                    <div class="testiSlider">
                        <article>
                            <figure>
                                <img src="assets/images/bill-gates.jpg" alt="">
                            </figure>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut velit dolor, imperdiet quis risus nec, interdum bibendum libero. Morbi venenatis euismod massa, sed luctus nisl sodales at. Nunc varius erat sit amet porta elementum. Vivamus varius turpis eget felis auctor, sed gravida tellus commodo.
                            </p>
                            <span>Bill Gates</span>
                        </article>
                    </div>
                    <div class="testiSlider">
                        <article>
                            <figure>
                                <img src="assets/images/mark.jpg" alt="">
                            </figure>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut velit dolor, imperdiet quis risus nec, interdum bibendum libero. Morbi venenatis euismod massa, sed luctus nisl sodales at. Nunc varius erat sit amet porta elementum. Vivamus varius turpis eget felis auctor, sed gravida tellus commodo.
                            </p>
                            <span>Mark Zuckerberg</span>
                        </article>
                    </div>
                    <div class="testiSlider">
                        <article>
                            <figure>
                                <img src="assets/images/linus-torvald.jpg" alt="">
                            </figure>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut velit dolor, imperdiet quis risus nec, interdum bibendum libero. Morbi venenatis euismod massa, sed luctus nisl sodales at. Nunc varius erat sit amet porta elementum. Vivamus varius turpis eget felis auctor, sed gravida tellus commodo.
                            </p>
                            <span>Linus Torvald</span>
                        </article>
                    </div>
                    <div class="testiSlider">
                        <article>
                            <figure>
                                <img src="assets/images/bill-gates.jpg" alt="">
                            </figure>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut velit dolor, imperdiet quis risus nec, interdum bibendum libero. Morbi venenatis euismod massa, sed luctus nisl sodales at. Nunc varius erat sit amet porta elementum. Vivamus varius turpis eget felis auctor, sed gravida tellus commodo.
                            </p>
                            <span>Bill Gates</span>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <div class="container text-center margin-bottom-50">
            <h4 class="margin-bottom-40">Get our valuable insights now!</h4>
            <a href="" class="btn btn-blue">Subscribe Now</a>
            <p class="lead">or e-mail <a href="" class="hitam_bold"><b>cs@dinside.id</b></a> and our team will assist you shortly</p>
        </div>
    </div>

@@include('../Shared/footer.html', {
    "script": [
        "assets/js/includes/inc.js"
    ]
})