@@include('../Shared/header.html')

<div class="sub-head-child-pages">
    <div class="container">
        <h2>Archives</h2>
    </div>
</div>

    <div class="archives">

        <section class="tag-cloud">
            <div class="container">
                <h3><span>Browse by Tags</span></h3>
                <div id="txtCloud"></div>
            </div>
        </section>
        
        <section class="article-index">
            <div class="container">
                <h3><span>Article Index</span></h3>
                <div class="filter-archive">
                    <form action="" class="form-inline custom-form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="startDate" placeholder="Mulai Tanggal">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="endDate" placeholder="Sampai Tanggal">
                        </div>
                        <div class="form-group">
                            <select name="" id="" class="form-control">
                                <option value="">Pilih Topik</option>
                                <option value="Tn">...</option>
                                <option value="Ny">...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="" id="" class="form-control">
                                <option value="">Pilih Kata Kunci</option>
                                <option value="Tn">...</option>
                                <option value="Ny">...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="" id="" class="form-control">
                                <option value="">Pilih Penulis</option>
                                <option value="">Amal Ihsan Hadian</option>
                                <option value="">Asep Wijaya</option>
                                <option value="">Yura Syahrul</option>
                            </select>
                        </div>
                        <button class="btn btn-orange">Cari Artikel</button>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        @@include('../Shared/article-list3.html')
                    </div>
                    <div class="col-md-4">
                        <!-- @@include('../Shared/popular-tags.html') -->
                    </div>
                </div>
            </div>
        </section>
        <section class="highlight-archives">
            <div class="container">
                <h3 class="light margin-bottom-35"><span>HighLight Archives</span></h3>
                <div class="row">
                    <div class="col-md-3">
                        <form action="" class="form-inline custom-form">
                            <div class="form-group">
                                <input type="text" class="form-control" id="highlightDate" placeholder="Pilih Tanggal">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-9">
                        <article>
                            <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
                            <div class="footer-article">
                                <h5><a href="">Korporasi</a></h5>
                                <ul>
                                    <li><a href="">Muhammad Firman</a></li><li>30 Menit Yang Lalu</li>
                                </ul>
                            </div>
                        </article>
                        <article>
                            <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
                            <div class="footer-article">
                                <h5><a href="">Korporasi</a></h5>
                                <ul>
                                    <li><a href="">Muhammad Firman</a></li><li>30 Menit Yang Lalu</li>
                                </ul>
                            </div>
                        </article>
                        <article>
                            <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
                            <div class="footer-article">
                                <h5><a href="">Korporasi</a></h5>
                                <ul>
                                    <li><a href="">Muhammad Firman</a></li><li>30 Menit Yang Lalu</li>
                                </ul>
                            </div>
                        </article>
                        <article>
                            <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
                            <div class="footer-article">
                                <h5><a href="">Korporasi</a></h5>
                                <ul>
                                    <li><a href="">Muhammad Firman</a></li><li>30 Menit Yang Lalu</li>
                                </ul>
                            </div>
                        </article>
                        <article>
                            <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
                            <div class="footer-article">
                                <h5><a href="">Korporasi</a></h5>
                                <ul>
                                    <li><a href="">Muhammad Firman</a></li><li>30 Menit Yang Lalu</li>
                                </ul>
                            </div>
                        </article>
                        <article>
                            <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
                            <div class="footer-article">
                                <h5><a href="">Korporasi</a></h5>
                                <ul>
                                    <li><a href="">Muhammad Firman</a></li><li>30 Menit Yang Lalu</li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </div>

@@include('../Shared/footer.html', {
    "script": [
        "assets/js/includes/inc.js"
    ]
})