@@include('../Shared/header.html', {
        "style": [
            "assets/css/Pages/article-details.css"
        ]
})

        <div class="sub-head-child-pages">
            <div class="container">
                <div class="author pull-left">
                    <h5><a href="">Korporasi</a></h5>
                    <ul>
                        <li><a href="">Muhammad Firman</a></li><li>30 Menit Yang Lalu</li>
                    </ul>
                </div>
                <div class="sub-head-right pull-right hidden-xs">
                    @@include('../Shared/sosmed.html')
                </div>
            </div>
        </div>

        <div class="article-details">
            <section class="article-read">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-xs-12 title-headline">
                            <h1><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h1>
                            <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum.</em></p>
                        </div>
                    </div>
                </div>
                <div class="big-images">
                    <img src="assets/images/detail-headlines/headline-img.jpg" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 foto-caption">
                                <img src="assets/images/icons/photo.png" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum. Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis. (Arif K./Katadata.co.id) </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two-col-left-big">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 margin-bottom-30 lock">
                                <article>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum. Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis eget.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum. Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis eget.
                                    </p>
                                </article>
                                <div class="lock-article">
                                    <p>Ingin membaca artikel selengkapnya?</p>
                                    <a href="" class="btn btn-blue pull-left">Subscribe</a>
                                    <a href="" class="btn pull-right">Sign In</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                @@include('../Shared/popular-tags.html')
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="artikel-terkait">
                <div class="container">
                    <h3><span>Artikel Terkait</span><strong>#korporasi</strong></h3>
                    <div class="col-md-4">
                        <div class="item">
                            <img src="assets/images/artikel-img/ukm.jpg" alt="">
                            <article>
                                <h4><a href="">Setelah Pizza Hut dan Marugame, Sriboga Buka Boat Noddle</a></h4>
                                <a href="">Muhammad Firman</a><time>20 Agustus 2017</time>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <img src="assets/images/artikel-img/gedung.jpg" alt="">
                            <article>
                                <h4><a href="">Setelah Pizza Hut dan Marugame, Sriboga Buka Boat Noddle</a></h4>
                                <a href="">Muhammad Firman</a><time>20 Agustus 2017</time>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <img src="assets/images/artikel-img/office.jpg" alt="">
                            <article>
                                <h4><a href="">Setelah Pizza Hut dan Marugame, Sriboga Buka Boat Noddle</a></h4>
                                <a href="">Muhammad Firman</a><time>20 Agustus 2017</time>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
        </div>

@@include('../Shared/footer.html')