@@include('../Shared/header.html')

<div class="sub-head-child-pages">
    <div class="container">
        <h2>Korporasi</h2>
    </div>
</div>

@@include('../Shared/head-grid-category.html')

<div class="two-col-left-big">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                @@include('../Shared/article-list2.html')
            </div>
            <div class="col-md-4">
                @@include('../Shared/popular-tags.html')
            </div>
        </div>
    </div>
</div>

@@include('../Shared/footer.html')