@@include('../Shared/header.html')

<div class="sub-head-child-pages">
    <div class="container">
        <h2>Contact Us</h2>
    </div>
</div>

    <div class="contactUs">
        <div class="container">
            <div class="row">
                <div class="col-md-6 contactLeft">
                    <strong>
                        Should you have something to ask, don’t hesitate to<br/> contact us
                    </strong>
                    <p>
                        You can reach us <a href="">via email</a>, or by using this contact form below. We will respond not more than two business day.
                    </p>
                    <form class="form-horizontal custom-form">
                            <div class="form-group">
                                <div class="col-md-12">
                                <input type="text" class="form-control" id="txtName" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="email" class="form-control" id="txtEmail" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <textarea class="form-control" rows="10" placeholder="Your Message"></textarea>
                                </div>
                            </div>
                            <button class="btn btn-blue">Send Message</button>
                        </form>
                </div>
                <div class="col-md-6">
                    <div id="mapLocation"></div>
                    <address>
                        Rukan Permata Senayan, Blok D 31<br/>
                        Jalan Tentara Pelajar, Grogol Utara,<br/>
                        Kebayoran Lama, Jakarta Selatan, 12210
                    </address>
                </div>
            </div>
        </div>       
    </div>

@@include('../Shared/footer.html')