@@include('../Shared/header.html', {
        "style": [
            "assets/css/Pages/homepage.css"
        ]
})
        <div class="second-header">
            <div class="container">
            @@include('../Shared/logo-header.html')
            </div>
        </div>
        <div class="homepage">
            <section class="headlines-article">
                <div class="row no-gap">
                    <div class="col-md-6">
                        <img src="assets/images/photo-headlines/astra.jpg" alt="">
                    </div>
                    <div class="col-md-6 article-info">
                        <article>
                            <h5 class="animated fadeInDown"><a href="">Korporasi</a></h5>
                            <h1 class="animated fadeInUp"><a href="article-details.html">Digandeng Nokia, Saham Sat Nusapersada Cetak Rekor Harga Tertinggi </a></h1>
                            <p class="animated fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Maecenas fermentum, magna quis semper pretium, ante tortor egestas nibh, laoreet interdum enim justo nec nibh. 
                                Quisque lacinia elit est, ac volutpat odio laoreet quis.</p>
                        </article>
                    </div>
                </div>
            </section>
            <section class="two-col-left-big">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            @@include('../Shared/recent-update.html')
                        </div>
                        <div class="col-md-4">
                            @@include('../Shared/popular-tags.html')
                        </div>
                    </div>
                </div>
            </section>
            <section class="hightlights">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 margin-bottom-30">
                            <h3 class="light"><span>Highlights</span></h3>
                            <p>Sedikit penjelasan soal apa yang dimaksud dengan highlight</p>
                            <a href="">Arsip Highlights »</a>
                        </div>
                        <div class="col-md-5">
                            <article>
                                <div>
                                    <span>1</span>
                                    <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
                                </div>
                                <div>
                                    <span>2</span>
                                    <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
                                </div>
                                <div>
                                    <span>3</span>
                                    <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-5">
                            <article>
                                <div>
                                    <span>4</span>
                                    <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
                                </div>
                                <div>
                                    <span>5</span>
                                    <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
                                </div>
                                <div>
                                    <span>6</span>
                                    <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
            <section class="two-col-left-big">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            @@include('../Shared/article-list.html')
                        </div>
                        <div class="col-md-4">
                            @@include('../Shared/box-subscribe.html')
                        </div>
                    </div>
                </div>
            </section>
        </div>

@@include('../Shared/footer.html')