@@include('../Shared/header.html', {
    "style": [
        "assets/css/Pages/subscribes-page.css"
    ]
})

<div class="subscribes-page">
    <section class="subscribe-steps">
        <div class="container">
            <div class="not-found animated fadeInUp">
                <p class="lead">Halaman yang anda cari tidak ditemukan.</p>
                <strong>404</strong>
                <a href=""><i class="fa fa-angle-double-left" aria-hidden="true"></i> Kembali ke Beranda</a>
            </div>
        </div>
    </section>
</div>

@@include('../Shared/footer.html')