@@include('../Shared/header.html', {
    "style": [
        "assets/css/Pages/subscribes-page.css"
    ]
})

<div class="subscribes-page">
    @@include('../Shared/banner-subscribe.html')
    <section class="subscribe-steps">
        <div class="container">
            @@include('../Shared/pilih-paket.html')
            <div class="tabel-paket text-center">
                <div class="row no-gap">
                    <div class="col-md-3 paket-item">
                        <h3>Paket Individual</h3>
                        <h4>Rp220 ribu<small>/bulan</small></h4>
                        <a href="" class="btn btn-blue width-full">Pilih</a>
                        <ul>
                            <li>Fitur satu paket ini</li>
                            <li>Kemudian fitur dua paket ini</li>
                            <li>Kemudian fitur selanjutnya dari paket ini</li>
                        </ul>
                    </div>
                    <div class="col-md-3 paket-item">
                        <h3>Paket Individual</h3>
                        <h4>Rp500 ribu<small>/bulan</small></h4>
                        <a href="" class="btn btn-blue width-full">Pilih</a>
                        <ul>
                            <li>Fitur satu paket ini</li>
                            <li>Kemudian fitur dua paket ini</li>
                            <li>Kemudian fitur selanjutnya dari paket ini</li>
                            <li>Fitur tambahan lain</li>
                        </ul>
                    </div>
                    <div class="col-md-3 paket-item special">
                        <h3>Paket Individual</h3>
                        <h4>Rp700 ribu<small>/bulan</small></h4>
                        <a href="" class="btn btn-blue width-full">Pilih</a>
                        <ul>
                            <li>Fitur satu paket ini</li>
                            <li>Kemudian fitur dua paket ini</li>
                            <li>Kemudian fitur selanjutnya dari paket ini</li>
                            <li>Fitur tambahan lain</li>
                            <li>Fitur satu paket ini Kemudian fitur dua paket ini</li>
                        </ul>
                    </div>
                    <div class="col-md-3 paket-item">
                        <h3>Paket Individual</h3>
                        <h4>1juta<small>/bulan</small></h4>
                        <a href="" class="btn btn-blue width-full">Pilih</a>
                        <ul>
                            <li>Fitur satu paket ini</li>
                            <li>Kemudian fitur dua paket ini</li>
                            <li>Kemudian fitur selanjutnya dari paket ini</li>
                            <li>Fitur tambahan lain</li>
                            <li>Fitur satu paket ini Kemudian fitur dua paket ini</li>
                            <li>Kemudian fitur selanjutnya dari paket ini</li>
                            <li>Fitur tambahan lain</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="faq">
                <article>
                    <h3>Frequently Asked Questions (FAQs)</h3>
                    <dl>
                        <dt>Bagaimana cara membayar?</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum. Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis eget. </dd>
                    
                        <dt>Bagaimana cara membayar?</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum. Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis eget. </dd>
                    
                        <dt>Bagaimana cara membayar?</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum. Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis eget. </dd>
                    
                        <dt>Bagaimana cara membayar?</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum. Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis eget. </dd>
                        
                    </dl>
                </article>
            </div>
        </div>
    </section>
</div>

@@include('../Shared/footer.html')