@@include('../Shared/header.html', {
    "style": [
        "assets/css/Pages/subscribes-page.css"
    ]
})

<div class="subscribes-page">
    <section class="subscribe-steps">
        <div class="container">
            <div class="row form-payment">
                <div class="col-md-10 col-md-offset-1">
                    <div class="box-center">
                        <div class="box-header">
                           <h3>Terima kasih telah mengonfirmasikan email Anda.</h3>
                           <p>Untuk melakukan pembayaran, mohon isi formulir berikut.</p>
                        </div>
                        <div class="box-content">
                            <form class="form-horizontal custom-form">
                                <div class="row">
                                    <div class="col-md-5 margin-bottom-30">
                                        <div class="form-group">
                                            <div class="col-md-7 col-xs-12">
                                                <select name="" id="" class="form-control">
                                                    <option value="Tn">Paket Individual</option>
                                                    <option value="Ny">Paket Individual</option>
                                                    <option value="..">..</option>
                                                </select>
                                            </div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum. Etiam massa nibh.</p>
                                        <br/>
                                        <p>Durasi langganan: <strong>3 bulan</strong></p>
                                        <p>Total biaya: <strong>Rp1.500.000</strong></p>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <div class="col-md-7 col-xs-12">
                                                <select name="" id="" class="form-control">
                                                    <option value="Tn">Siklus Tagihan</option>
                                                    <option value="Ny">Siklus Tagihan</option>
                                                    <option value="..">..</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                            <input type="text" class="form-control" id="txtVoucher" placeholder="Kode Voucher">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="email" class="form-control" id="txtEmail" placeholder="Email">
                                            </div>
                                        </div>                                      
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="password" class="form-control" id="txtPassword" placeholder="Ketik Password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="password" class="form-control" id="txtPasswordUlangi" placeholder="Ulangi Password">
                                            </div>
                                        </div>
                                        <button class="btn btn-abu-gelap">Kembali</button>
                                        <button type="submit" class="btn btn-orange pull-right">Lanjut Ke Pembayaran</button>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@@include('../Shared/footer.html')