@@include('../Shared/header.html', {
    "style": [
        "assets/css/Pages/subscribes-page.css"
    ]
})

<div class="subscribes-page">
    <section class="subscribe-steps">
        <div class="container">
            @@include('../Shared/konfirmasi-email.html')
            <div class="notifikasi animated fadeInUp">
                <p class="lead">Terima kasih telah mendaftarkan diri di D-Inside.</p>
                <p>Selanjutnya, silakan cek email Anda dan ikuti langkah selanjutnya untuk mengaktifkan akun Anda.</p>
            </div>
        </div>
    </section>
</div>

@@include('../Shared/footer.html')