.main-wrapping {
    width: 100%;
    overflow: hidden;
}

.site-container {
    width: 100%;
    margin-top: 55px;
    // padding: 20px 0;
    min-height: calc(100% - 250px);
    overflow: hidden;
    .second-header {
        padding: 20px 0 30px;
        @include clearit;
        .second-left {
            float: left;
            @include breakpoint(mobile) {
                a {
                    position: fixed;
                    top: 11px;
                    left: 15px;
                    z-index: 5;
                    @include breakpoint(mobile) {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    img {
                        width: 10em;
                    }
                }
            }
            time {
                padding: 23px 0 0;
                margin-left: 80px;
                display: inline-block;
                vertical-align: middle;
                @include breakpoint(mobile) {
                    position: absolute;
                    top: 50px;
                    left: 15px;
                    margin-left: 0;
                }
            }
        }
        .second-right {
            float: right;
            position: relative;
            top: 26px;
            font-family: "adelle_sansregular";
            font-size: 12px;
            text-transform: uppercase;
        }
    }
    .sub-head-child-pages {
        // padding: 65px 0 10px;
        position: relative;
        @include clearit;
        height: 83px;
        border-bottom: 1px solid #aaaaaa;
        h2 {
            position: relative;
            top: 28px;
            font-family: "adelle_sansextrabold";
            font-size: 46px;
            @include breakpoint(mobile) {
                top: 35px;
                font-size: 35px;
            }
            text-transform: uppercase;
            color: $orange;
        }
    }
}
