.site-header {
    width: 100%;
    .top-header {
        position: relative;
        text-align: center;
        height: 55px;
        border-bottom: 1px solid #ddd;
        background: white;
        z-index: 2;
        @include clearit;
        .top-left {
            position: relative;
            top: 6px;
            float: left;
            display: inline-block;
            padding: 10px 0;
            @include breakpoint(mobile) {
                width: 100%;
            }
            .humburger-btn {
                position: relative;
                top: 2px;
                display: inline-block;
                vertical-align: top;
                margin-right: 5px;
                width: 22px;
                height: 14px;
                cursor: pointer;
                @include breakpoint(mobile) {
                    position: absolute;
                    top: 15px;
                    right: 0;
                }
                span {
                    position: absolute;
                    display: block;
                    width: 22px;
                    height: 3px;
                    background: #333;
                    transition: all .3s ease-in-out;
                    &:nth-child(1) {
                        top: 0;
                    }
                    &:nth-child(2) {
                        top: 50%;
                        opacity: 1;
                        transform: translateY(-50%);
                    }
                    &:nth-child(3) {
                        bottom: 0;
                    }
                }
                &.humTrigger {
                    span {
                        &:nth-child(1) {
                            top: 6px;
                            transform: rotate(45deg);
                        }

                        &:nth-child(2) {
                            opacity: 0;
                            transform: translate(-50px);
                            @include breakpoint(mobile) {
                                transform: translate(50px);
                            }
                        }

                        &:nth-child(3) {
                            bottom: 5px;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
            a,
            span {
                font-family: "adelle_sansregular";
                font-size: 14px;
                text-transform: uppercase;
                color: $hitam;
            }
            .cari-btn {
                @include breakpoint(mobile) {
                    position: absolute;
                    top: 12px;
                    right: 45px;
                }
                margin-left: 35px;
                a {
                    text-decoration: none;
                    i {
                        font-size: 18px;
                        margin-right: 2px;
                        @include breakpoint(mobile) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .top-center {
            position: relative;
            top: 6px;
            display: inline-block;
            margin: 0 auto;
            @include breakpoint(mobile) {
                position: absolute;
                top: 11px;
                left: 15px;
            }
            @include breakpoint(small-mobile) {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
            img {
                width: 156px;
                @include breakpoint(mobile) {
                    width: 10em;
                }
                @include breakpoint(small-mobile) {
                    width: 9em;
                }
            }
        }
        .top-right {
            float: right;
            position: relative;
            top: 7px;
            @include breakpoint(mobile) {
                top: -2px;
                right: 80px;
            }
            .multi-lang {
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
                a {
                    display: inline-block;
                    padding: 6px 8px;
                    font-family: "adelle_sanssemibold";
                    font-size: 10.42px;
                    text-transform: uppercase;
                    background: $abu-mid;
                    color: white;
                    &.select-lang {
                        background: $abu-gelap;
                    }
                }
            }
            a {
                font-family: "adelle_sansregular";
                font-size: 14px;
                text-transform: uppercase;
                display: inline-block;
                vertical-align: middle;
                color: $hitam;
                
            }
            a.btn {
                font-family: "adelle_sanslight";
                font-size: 16px;
                text-transform: none;
                margin-left: 20px;
                color: white;
            }
        }
    }
}

.inputSearch {
    position: absolute;
    top: -110px;
    width: 100%;
    height: 110px;
    @include breakpoint(mobile) {
        height: 85px;
    }
    transition: top .5s ease-in-out;
    background: white;
    z-index: 1;
    > div {
        position: relative;
        height: 110px;
        @include breakpoint(mobile) {
            height: 85px;
        }
    }
    .txtSearch {
        width: 100%;
        height: 100%;
        font-size: 70px;
        padding-left: 10px;
        padding-right: 75px;
        color: #aaaaaa;
        &::-webkit-input-placeholder {
            color: #aaaaaa;
        }
        &::-moz-placeholder {
            color: #aaaaaa;
        }
        &:-moz-placeholder {
            color: #aaaaaa;
        }
        &:-ms-input-placeholder {
            color: #aaaaaa;
        }
        &:focus {
            outline: none;
        }
        @include breakpoint(mobile) {
            font-size: 30px;
        }
    }
    a {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 35px;
        font-family: "roboto_light";
        font-size: 40px;
        line-height: 35px;
        text-align: center;
        text-decoration: none;
        border: 1px solid #aaa;
        border-radius: 50%;
        color: #aaa;
        display: none;
        transition: block .3s ease-in-out;
        width: 45px;
        height: 45px;
        @include breakpoint(mobile) {
            font-size: 30px;
            line-height: 25px;
            width: 33px;
            height: 33px;
        }
        &.showClose {
            display: block;
        }
    }
    // &:after {
    //     position: absolute;
    //     top: 110px;
    //     bottom: 0;
    //     content: "";
    //     display: inline-block;
    //     width: 100%;
    //     height: 100vh;
    //     background: rgba(255,255,255,.7);
    // }
    &.searchOpen {
        top: 55px;
    } 
}