.navigasi {
    // position: absolute;
    position: fixed;
    width: 283px;
    overflow: hidden;
    @include breakpoint(mobile) {
        width: 100%;
        left: -100%;
    }
    height: 100%;
    left:-283px;
    transition: left .3s ease-in-out;
    top: 55px;
    bottom: 0;
    background: rgba(26,54,102,.95);
    z-index: 3;
    .link-user-access {
        position: relative;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .35);
        // background: #BDCEE3;
        padding: 20px 35px;
        a.btn {
            font-family: "adelle_sanssemibold";
            font-size: 14px;
            text-transform: uppercase;
            padding: 7px 25px;
            border-radius: 3px;
        }
        .multi-lang {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
            a {
                display: inline-block;
                padding: 6px 8px;
                font-family: "adelle_sanssemibold";
                font-size: 14px;
                text-transform: uppercase;
                border: 1px solid white;
                background: white;
                color: $hitam;
                &:first-child {
                    border-right: none;
                }
                &:last-child {
                    border-left: none;
                }
                &.select-lang {
                    background: $orange;
                    border: 1px solid $orange;
                    color: white;
                }
            }
        }
    }
    .go-subscribe {
        margin: 30px 40px 0 35px;
        padding: 15px;
        font-family: "adelle_sanssemibold";
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: block;
        text-align: center;
        border: 2px solid white;
        border-radius: 30px;
        background: rgba(0,0,0,.15);
        color: white;
        transition: all .5s ease;
        &:hover {
            border-color: $orange;
            background: $orange;
            text-decoration: none;
        }
    }
    ul {
        position: relative;
        padding: 30px 0 0;
        li {
            position: relative;
            // text-align: center;
            a {
                position: relative;
                padding: 15px 35px;
                display: block;
                font-family: "adelle_sansextrabold";
                font-size: 22px;
                text-decoration: none;
                text-transform: uppercase;
                color: $orange;
                z-index: 2;
                &:hover {
                    color: white;
                }
            }
            &:before {
                position: absolute;
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                transform: scaleX(0);
                transform-origin: left;
                background: rgba(0,0,0,.5);
                transition: all .3s ease-in-out;
            }
            &:hover{
                &:before {
                    transform: scaleX(1);
                }
            }
        }
    }
    &.mnuOpen {
        left: 0;
    }
}

.navOverlay {
    position: fixed;
    content: '';
    top: 55px;
    right: 0;
    bottom: 0;
    left: 283px;
    background: rgba(0,0,0,.55);
    cursor: pointer;
    z-index: 3;
}
