@import "bourbon";

/* ABSTRACTS */
@import
	'../Abstracts/variables',
	'../Abstracts/functions',
    '../Abstracts/mixins'; 
    
.article-details {
    .article-read {
        .two-col-left-big {
            p {
                font-size: 18px;
                margin-bottom: 28px;
                line-height: 1.5;
            }
            .lock {
                article {
                    position: relative;
                    &:after {
                        position: absolute;
                        bottom: 0;
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100px;
                        z-index: 1;
                        background: rgba(255,255,255,0.35);
                        background: -moz-linear-gradient(top, rgba(255,255,255,0.35) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.35)), color-stop(85%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
                        background: -webkit-linear-gradient(top, rgba(255,255,255,0.35) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
                        background: -o-linear-gradient(top, rgba(255,255,255,0.35) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
                        background: -ms-linear-gradient(top, rgba(255,255,255,0.35) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
                        background: linear-gradient(to bottom, rgba(255,255,255,0.35) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
                    }
                }
                .lock-article {
                    position: relative;
                    text-align: center;
                    text-transform: uppercase;
                    p {
                        font-family: 'adelle_sansregular';
                        font-size: 12px;
                        margin-bottom: 20px;
                    }
                    a {
                        width: 48%;
                    }
                }
            }
        }
        
        .title-headline {
            h1 {
                font-size: 2.8em;
                a {
                    color: $hitam;
                }
            }
            p {
                margin-bottom: 30px;
                width: 75%;
                font-family: "adelle_sanslight_italic";
                font-size: 21px;
                line-height: 1.4em;
                @include breakpoint(mobile) {
                    width: 100%;
                }
            }
        }
        .big-images {
            border-bottom: 1px solid #ddd;
            img {
                width: 100%;
                @include breakpoint(mobile) {
                    padding: 0 15px;
                }
            }
            .foto-caption {
                padding: 20px 0;
                @include clearit;
                img {
                    float: left;
                    position: relative;
                    left: -22px;
                    width: 22px;
                    margin-right: 15px;
                    position: relative;
                    margin-bottom: 50px;
                    @include breakpoint(mobile) {
                        float: left;
                        left: 0;
                        margin-bottom: 0;
                    }
                }
                p {
                    position: relative;
                    left: -20px;
                    top: -5px;
                    font-family: "adelle_sanslight";
                    font-size: 14px;
                    line-height: 1.7em;
                    color: #999999;
                    @include breakpoint(mobile) {
                        padding: 0 15px; 
                        left: 0;
                    }
                }
            }
        }
    }
    .artikel-terkait {
        padding-top: 20px;
        border-top: 1px solid #ddd;
        .item {
            border: 1px solid #ddd;
            margin-bottom: 30px;
            img {
                width: 100%;
            }
            article {
                padding: 15px;
                h4 {
                    font-family: "adelle_sansbold";
                    font-size: 24px;
                    margin-bottom: 28px;
                    a {
                        font-family: inherit;
                        font-size: inherit;
                        text-transform:none;
                        border-right: none;
                        color: $hitam;
                    }
                }
                a,time {
                    font-family: "adelle_sansregular";
                    font-size: 12px;
                    text-transform: uppercase;
                    color: #aaaaaa;
                }
                a {
                    display: inline-block;
                    padding-right: 18px;
                    margin-right: 18px;
                    border-right: 1px solid #aaaaaa;
                }
            }
        }
    }
}