@import "bourbon";

/* ABSTRACTS */
@import
	'../Abstracts/variables',
	'../Abstracts/functions',
	'../Abstracts/mixins'; 

.homepage {
	.headlines-article {
		height: 452px;
		@include breakpoint(mobile) {
			height: auto;
		}
		@include breakpoint(tablet) {
			height: auto;
		}
		img {
			width: 100%;
			height: 452px;
			@include breakpoint(mobile) {
				height: auto;
			}
			@include breakpoint(tablet) {
				height: auto;
			}
		}
		.article-info {
			padding: 25px 30px 25px;
			height: 452px;
			@include breakpoint(mobile) {
				height: auto;
			} 
			@include breakpoint(tablet) {
				height: auto;
			}
			background: $hitam;
			color: white;
			article {
				p {
					padding: 20px 0;
					font-size: 21px;
					line-height: 1.5em;
				}
			}
		}
	}
}
