<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>D inside - Microsite</title>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/images/fasvicons/favicon-16x16.png" sizes="16x16">
    <!-- Bootstrap -->
    <link href="assets/css/vendor.min.css" rel="stylesheet">
    <link href="assets/css/plugins.min.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">

    
      
        <link href="assets/css/Pages/article-details.css" rel="stylesheet">
      
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <![endif]-->


  </head>
  <body>
    <div class="main-wrapping">

      <!-- HEADER -->
      <header class="site-header">
        <div class="top-header animated fadeInDown">
          <div class="container">
            <div class="top-left">
              <div class="humburger-btn">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <span class="hidden-xs">Menu</span>
              <span class="cari-btn">
                <a href="#"><i class="fa fa-search" aria-hidden="true"></i> <span class="hidden-xs">Cari</span></a>
              </span>
            </div>
            <div class="top-center">
              <a href="index.html" id="logo-tgh"><img src="assets/images/logo-atas-tengah.png"></a>
            </div>
            <div class="top-right">
              <div class="multi-lang hidden-xs">
                <a href="#" class="select-lang">Ind</a><a href="#">Eng</a>
              </div>
              <a href="" class="signIn hidden-xs">Sign In</a>
              <a href="#" class="btn btn-blue hidden-xs">Subscribe</a>
            </div>
          </div>
        </div>

      </header>
      <div class="inputSearch">
        <div class="container">
          <form action="" method="post" onsubmit="search();return false;">
            <input type="text" id="txtSearch" name="" class="txtSearch" placeholder="Ketik dan enter..." />
            <input type="submit" style="display:none;">
	        </form>
          <a href="" class="clear-txt"><span>x</span></a>
        </div>
      </div>
      <nav class="navigasi">
        <div class="link-user-access visible-xs">
          <a href="" class="btn btn-blue signIn">Sign In</a>
          <div class="multi-lang visible-xs">
            <a href="#" class="select-lang">Ind</a><a href="#">Eng</a>
          </div>
        </div>
        <ul>
          <li><a href="#">Nasional</a></li>
          <li><a href="#">Politik</a></li>
          <li><a href="#">Bursa</a></li>
          <li><a href="#">Korporasi</a></li>
          <li><a href="#">Finansial</a></li>
          <li><a href="#">Industri</a></li>
        </ul>
        <a href="#" class="go-subscribe visible-xs">Subscribe</a>
      </nav>
      <div class="navOverlay"></div>

      <!-- HEADER -->


      <!-- CONTAINER -->
      <main class="site-container">


        <div class="sub-head-child-pages">
            <div class="container">
                <div class="author pull-left">
                    <h5><a href="">Korporasi</a></h5>
                    <ul>
                        <li><a href="">Muhammad Firman</a></li><li>30 Menit Yang Lalu</li>
                    </ul>
                </div>
                <div class="sub-head-right pull-right hidden-xs">
                    <div class="social-media">
    Ikuti Kami:
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
</div>
                </div>
            </div>
        </div>

        <div class="article-details">
            <section class="article-read">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-xs-12 title-headline">
                            <h1><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h1>
                            <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum.</em></p>
                        </div>
                    </div>
                </div>
                <div class="big-images">
                    <img src="assets/images/detail-headlines/headline-img.jpg" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 foto-caption">
                                <img src="assets/images/icons/photo.png" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum. Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis. (Arif K./Katadata.co.id) </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two-col-left-big">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 margin-bottom-30">
                                <article>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum. Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis eget.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum. Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis eget.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum. Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis eget.
                                    </p>
                                    
                                    <div class="small-image">
                                        <figure>
                                            <img src="assets/images/photo-headlines/astra.jpg" alt="">
                                        </figure>
                                        <span class="small-pic-caption">
                                            <img src="assets/images/icons/photo.png" alt="">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum. Etiam massa nibh, vulputate non.</p>
                                        </span>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum. Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis eget.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum. Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis eget.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum. Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis eget.
                                    </p>
                                </article>
                                <div class="social-media">
    Ikuti Kami:
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
</div>
                            </div>
                            <div class="col-md-4">
                                <div class="popular-tags">
    <h3><span>Popular Tags</span></h3>
    <ul>
        <li><a href="#">Dana Haji</a></li>
        <li><a href="#">Infrastruktur</a></li>
        <li><a href="#">Astra</a></li>
        <li><a href="#">Pertumbuhan Ekonomi</a></li>
        <li><a href="#">Dana Haji</a></li>
        <li><a href="#">Infrastruktur</a></li>
        <li><a href="#">Astra</a></li>
        <li><a href="#">Pertumbuhan Ekonomi</a></li>
        <li><a href="#">Dana Haji</a></li>
        <li><a href="#">Infrastruktur</a></li>
    </ul>
</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="artikel-terkait">
                <div class="container">
                    <h3><span>Artikel Terkait</span><strong>#korporasi</strong></h3>
                    <div class="col-md-4">
                        <div class="item">
                            <img src="assets/images/artikel-img/ukm.jpg" alt="">
                            <article>
                                <h4><a href="">Setelah Pizza Hut dan Marugame, Sriboga Buka Boat Noddle</a></h4>
                                <a href="">Muhammad Firman</a><time>20 Agustus 2017</time>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <img src="assets/images/artikel-img/gedung.jpg" alt="">
                            <article>
                                <h4><a href="">Setelah Pizza Hut dan Marugame, Sriboga Buka Boat Noddle</a></h4>
                                <a href="">Muhammad Firman</a><time>20 Agustus 2017</time>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <img src="assets/images/artikel-img/office.jpg" alt="">
                            <article>
                                <h4><a href="">Setelah Pizza Hut dan Marugame, Sriboga Buka Boat Noddle</a></h4>
                                <a href="">Muhammad Firman</a><time>20 Agustus 2017</time>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
        </div>

      </main>
      <!-- CONTAINER -->

      <!-- FOOTER -->
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4 margin-bottom-30">
              <article>
                <h3><span>Tentang D-Inside</span></h3>
                <p>Lorem ipsum dolor sit amet, coLorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum.</p>
                <a href="">Kenapa Anda mesti berlangganan D-Inside? »</a>
              </article>
            </div>
            <div class="col-md-4 margin-bottom-30">
              <h3><span>Kontak</span></h3>
              <ul class="kontak">
                <li>
                  <figure><img src="assets/images/icons/phone-icon.png" alt=""></figure>
                  +6221 5794 0835
                </li>
                <li>
                  <figure><img src="assets/images/icons/fax.png" alt=""></figure>
                  +6221 5794 0836
                </li>
                <li>
                  <figure><img src="assets/images/icons/email.png" alt=""></figure>
                  <a href="#">marketing@dinside.id</a>
                  <a href="#">redaksi@dinside.id</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4 margin-bottom-30">
              <div class="poweredby">
                Powered By:
                <figure>
                  <img src="assets/images/katadata-logo.png" alt="">
                  <img src="assets/images/hol-logo.png" alt="">
                </figure>
              </div>
              <div class="social-media">
    Ikuti Kami:
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
</div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="copyright">
                    ©2016 Katadata and Hukum Online. All rights reserved.
                  </div>
              </div>
          </div>
        </div>
      </footer>
      <!-- FOOTER -->
      <div class="signin-modal">
        <div class="box-header">
            <h3>Login</h3>
            <span>Belum punya akun? <a href="#">Sign In</a></span>
        </div>
        <div class="box-content">
          <div class="frmLogin">
            <ul>
                <li><a href="">Google <img src="assets/images/icons/google.png" alt=""></a></li>
                <li><a href="">Linkedin <img src="assets/images/icons/linkedin.png" alt=""></a></li>
                <li><a href="">Twitter <img src="assets/images/icons/twitter.png" alt=""></a></li>
            </ul>
            <h6><span>Atau</span></h6>
            <form class="form-horizontal custom-form">
                <div class="form-group">
                    <div class="col-md-12">
                    <input type="email" class="form-control" id="txtEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" class="form-control" id="txtPassword" placeholder="Password">
                    </div>
                </div>
                <div class="text-center rememberMe">
                    <input id="ingatkan" type="checkbox" value="">
                    <label for="ingatkan">Ingatkan saya</label>
                    <a id="lupaPassword">Lupa Password?</a>
                </div>
                <button type="submit" class="btn btn-block btn-orange pull-right">Login</button>
            </form>
          </div>
          <div class="frmLupaPassword">
            <p class="text-center">Masukkan alamat e-mail Anda dan kami akan mengirimkan link untuk mereset kata sandi Anda</p>
            <form class="form-horizontal custom-form">
              <div class="form-group">
                <div class="col-md-12">
                  <input type="email" class="form-control" id="mailResetPass" placeholder="Email">
                </div>
              </div>
              <a href="#" id="backLogin"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Kembali ke Login</a>
              <button type="submit" class="btn pull-right btn-orange pull-right">Reset Password</button>
            </form>
          </div>
        </div>
      </div>
      <div class="overlay-box"></div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/vendor.min.js" ></script>
    <script src="assets/js/plugins.min.js" ></script>
    <script src="assets/js/app.min.js" ></script>
    
    

  </body>
</html>