<section class="article-list">
    <article>
        <figure>
            <a href=""><img src="assets/images/thumbnails/news3.jpg" alt=""></a>
        </figure>
        <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius blanditiis iusto, excepturi accusantium ut molestias nulla alias in, itaque nesciunt aliquam iure? Eligendi veniam modi delectus totam sit repellendus ullam neque itaque doloribus, tenetur, maxime quaerat? Sunt, ratione. Reiciendis esse doloremque dolore.</p>
        <div class="footer-article">
            <ul>
                <li><a href="">Muhammad Firman</a></li><li>30 Menit Yang Lalu</li>
            </ul>
        </div>
    </article>
    <article>
        <figure>
            <a href=""><img src="assets/images/thumbnails/news4.jpg" alt=""></a>
        </figure>
        <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius blanditiis iusto, excepturi accusantium ut molestias nulla alias in, itaque nesciunt aliquam iure? Eligendi veniam modi delectus totam sit repellendus ullam neque itaque doloribus, tenetur, maxime quaerat? Sunt, ratione. Reiciendis esse doloremque dolore.</p>
        <div class="footer-article">
            <ul>
                <li><a href="">Muhammad Firman</a></li><li>30 Menit Yang Lalu</li>
            </ul>
        </div>
    </article>
    <article>
        <figure>
            <a href=""><img src="assets/images/thumbnails/news5.jpg" alt=""></a>
        </figure>
        <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius blanditiis iusto, excepturi accusantium ut molestias nulla alias in, itaque nesciunt aliquam iure? Eligendi veniam modi delectus totam sit repellendus ullam neque itaque doloribus, tenetur, maxime quaerat? Sunt, ratione. Reiciendis esse doloremque dolore.</p>
        <div class="footer-article">
            <ul>
                <li><a href="">Muhammad Firman</a></li><li>30 Menit Yang Lalu</li>
            </ul>
        </div>
    </article>
    <article>
        <figure>
            <a href=""><img src="assets/images/thumbnails/news5.jpg" alt=""></a>
        </figure>
        <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius blanditiis iusto, excepturi accusantium ut molestias nulla alias in, itaque nesciunt aliquam iure? Eligendi veniam modi delectus totam sit repellendus ullam neque itaque doloribus, tenetur, maxime quaerat? Sunt, ratione. Reiciendis esse doloremque dolore.</p>
        <div class="footer-article">
            <ul>
                <li><a href="">Muhammad Firman</a></li><li>30 Menit Yang Lalu</li>
            </ul>
        </div>
    </article>
    <a href="" class="btn btn-abu"> Artikel Lainnya</a>
</section>