      </main>
      <!-- CONTAINER -->

      <!-- FOOTER -->
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4 margin-bottom-30">
              <article>
                <h3><span>Tentang D-Inside</span></h3>
                <p>Lorem ipsum dolor sit amet, coLorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas varius arcu sed congue. Phasellus laoreet accumsan ipsum.</p>
                <a href="">Kenapa Anda mesti berlangganan D-Inside? »</a>
              </article>
            </div>
            <div class="col-md-4 margin-bottom-30">
              <h3><span>Kontak</span></h3>
              <ul class="kontak">
                <li>
                  <figure><img src="assets/images/icons/phone-icon.png" alt=""></figure>
                  +6221 5794 0835
                </li>
                <li>
                  <figure><img src="assets/images/icons/fax.png" alt=""></figure>
                  +6221 5794 0836
                </li>
                <li>
                  <figure><img src="assets/images/icons/email.png" alt=""></figure>
                  <a href="#">marketing@dinside.id</a>
                  <a href="#">redaksi@dinside.id</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4 margin-bottom-30">
              <div class="poweredby">
                Powered By:
                <figure>
                  <img src="assets/images/katadata-logo.png" alt="">
                  <img src="assets/images/hol-logo.png" alt="">
                </figure>
              </div>
              @@include('sosmed.html')
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="copyright">
                    ©2016 Katadata and Hukum Online. All rights reserved.
                  </div>
              </div>
          </div>
        </div>
      </footer>
      <!-- FOOTER -->
      <div class="signin-modal">
        <div class="box-header">
            <h3>Login</h3>
            <span>Belum punya akun? <a href="#">Sign In</a></span>
        </div>
        <div class="box-content">
            <ul>
                <li><a href="">Google <img src="assets/images/icons/google.png" alt=""></a></li>
                <li><a href="">Linkedin <img src="assets/images/icons/linkedin.png" alt=""></a></li>
                <li><a href="">Twitter <img src="assets/images/icons/twitter.png" alt=""></a></li>
            </ul>
            <h6><span>Atau</span></h6>
            <form class="form-horizontal custom-form">
                <div class="form-group">
                    <div class="col-md-12">
                    <input type="email" class="form-control" id="txtEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" class="form-control" id="txtPassword" placeholder="Password">
                    </div>
                </div>
                <div class="text-center rememberMe">
                    <input id="ingatkan" type="checkbox" value="">
                    <label for="ingatkan">Ingatkan saya</label>
                    <a>LupaPassword</a>
                </div>
                <button type="submit" class="btn btn-block btn-orange pull-right">Login</button>
            </form>
        </div>
      </div>
      <div class="overlay-box"></div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/vendor.min.js" ></script>
    <script src="assets/js/plugins.min.js" ></script>
    <script src="assets/js/app.min.js" ></script>
    
    @@if (context.script) {
      @@for(var i=0;i<script.length;i++) {
        <script src="`+script[i]+`" ></script>
      }
    }

  </body>
</html>