<div class="head-grid-category">
    <div class="container">
        <div class="row">
            <div class="col-md-6 grid-item">
                <article>
                    <figure>
                        <img src="assets/images/money.jpg" alt="">
                    </figure>
                    <h3><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h3>
                    <p>Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis eget.</p>
                    <div class="footer-article">
                        <ul>
                            <li><a href="">Muhammad Firman</a></li><li>23 JANUARI 2017</li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-md-3 grid-item">
                <article>
                    <figure>
                        <img src="assets/images/stasiun.jpg" alt="">
                    </figure>
                    <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
                    <p>Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis eget.</p>
                    <div class="footer-article">
                        <ul>
                            <li><a href="">Muhammad Firman</a></li><li>23 JANUARI 2017</li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-md-3 grid-item">
                <article>
                    <figure>
                        <img src="assets/images/industri.jpg" alt="">
                    </figure>
                    <h4><a href="">Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</a></h4>
                    <p>Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis eget.</p>
                    <div class="footer-article">
                        <ul>
                            <li><a href="">Muhammad Firman</a></li><li>23 JANUARI 2017</li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>