<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>D inside - Microsite</title>

    <!-- Bootstrap -->
    <link href="assets/css/vendor.min.css" rel="stylesheet"> 
    <link href="assets/css/plugins.min.css" rel="stylesheet"> 
    <link href="assets/css/main.css" rel="stylesheet">
    
    @@if (context.style) {
      @@for(var i=0;i<style.length;i++) {
        <link href="`+style[i]+`" rel="stylesheet">
      }
    }

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <![endif]-->


  </head>
  <body>
    <div class="main-wrapping">
      
      <!-- HEADER -->
      <header class="site-header">
        <div class="top-header animated fadeInDown">
          <div class="container">
            <div class="top-left">
              <div class="humburger-btn">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <span class="hidden-xs">Menu</span>
              <span class="cari-btn">
                <a href="#"><i class="fa fa-search" aria-hidden="true"></i> <span class="hidden-xs">Cari</span></a>
              </span>
            </div>
            <div class="top-center">
              <a href="index.html" id="logo-tgh"><img src="assets/images/logo-atas-tengah.png"></a>
            </div>
            <div class="top-right">
              <div class="multi-lang hidden-xs">
                <a href="#" class="select-lang">Ind</a><a href="#">Eng</a>
              </div>
              <a href="#" class="hidden-xs">Sign In</a>
              <a href="#" class="btn btn-blue hidden-xs">Subscribe</a>
            </div>          
          </div>
        </div>
        
      </header>
      <div class="inputSearch">
        <div class="container">
          <form action="" method="post" onsubmit="search();return false;">
            <input type="text" id="txtSearch" name="" class="txtSearch" placeholder="Ketik dan enter..." />
            <input type="submit" style="display:none;">
	        </form>
          <a href="" class="clear-txt"><span>x</span></a>  
        </div>
      </div>
      <nav class="navigasi">
        <div class="link-user-access visible-xs">
          <a href="" class="btn btn-orange">Sign In</a>
          <div class="multi-lang visible-xs">
            <a href="#" class="select-lang">Ind</a><a href="#">Eng</a>
          </div>
        </div>
        <ul>
          <li><a href="#">Nasional</a></li>
          <li><a href="#">Politik</a></li>
          <li><a href="#">Bursa</a></li>
          <li><a href="#">Korporasi</a></li>
          <li><a href="#">Finansial</a></li>
          <li><a href="#">Industri</a></li>
        </ul>
        <a href="#" class="go-subscribe visible-xs">Subscribe</a>
      </nav>
      <!-- HEADER -->


      <!-- CONTAINER -->
      <main class="site-container">