<div class="popular-tags">
    <h3><span>Popular Tags</span></h3>
    <ul>
        <li><a href="#">Dana Haji</a></li>
        <li><a href="#">Infrastruktur</a></li>
        <li><a href="#">Astra</a></li>
        <li><a href="#">Pertumbuhan Ekonomi</a></li>
        <li><a href="#">Dana Haji</a></li>
        <li><a href="#">Infrastruktur</a></li>
        <li><a href="#">Astra</a></li>
        <li><a href="#">Pertumbuhan Ekonomi</a></li>
        <li><a href="#">Dana Haji</a></li>
        <li><a href="#">Infrastruktur</a></li>
    </ul>
</div>